.bold
{
    font-weight: bold;
}

.prev-link
{
    display: inline-block;
    width: 49%;
    box-sizing: border-box;
    text-align: left;
}
.next-link
{
    display: inline-block;
    width: 49%;
    text-align: right;
    box-sizing: border-box;
}

.no-background
{
    background: none !important;
}